@import "reset";
@import "materialize";

$dark-grey: #333;
$white: #FFF;
$blue: #9ED1DE;

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700');

// helpers

.flex {
  display: flex;
}

.flex_vCenter {
  display: flex;
  align-items: center;
}

.flex_hCenter {
  display: flex;
  justify-content: center;
}

.flex_full_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Merriweather';
}

body {
  background-color: $white;
}

nav {
  height: 80px;
  position: fixed;
  background-color: $dark-grey;
  width: 100%;
}

.top_left_logo {
  color: $white;
  font-size: 2em;
  display: inline-block;
  padding-left: 0.5em;
}

.first_row {
  padding-top: 80px;
}
