@import "reset";
@import "materialize";

$grey: #777;
$dark-grey: #333;
$white: #FFF;

$base: #9ED1DB;
$blue: #5B7CB4;
$purple: #9086E8;
$teal: #A2F2D8;
$lightGreen: #9CE8A9;

$darkBlue: #324974;

@font-face {
  font-family: 'Poiret One';
  src: url('fonts/PoiretOne-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat Extra Bold';
  src: url('fonts/Montserrat-ExtraBold.ttf');
}

// helpers

.flex {
  display: flex;
}

.flex_vCenter {
  display: flex;
  align-items: center;
}

.flex_hCenter {
  display: flex;
  justify-content: center;
}

.flex_full_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_vCenter_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Merriweather';
}

body {
  background-color: $base;
}

nav {
  height: 80px;
  position: fixed;
  background-color: $white;
  width: 100%;
}

.top_left_name {
  color: $dark-grey;
  font-size: 2em;
  display: inline-block;
  padding-left: 0.5em;
  font-family: 'Poiret One', cursive;
}

.top_left_logo_svg_container, .top_left_logo_svg {
  height: 45px;
}

.top_left_logo_svg {
  padding-left: 1em;
}

.nav_link {
  font-family: 'Montserrat Light', sans-serif;
  font-size: 1.1em;
  margin-right: 1em;
  height: 78px;
  border-bottom: 2px solid $white;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  color: $dark-grey;
  text-decoration: none;
}

.nav_link:hover {
  border-bottom: 2px solid $blue;
  cursor: pointer;
  color: $grey
}

.first_row {
  padding-top: 120px;
}

.big_name {
  font-family: 'Montserrat Extra Bold', sans-serif;
  font-size: 6em;
  color: $darkBlue;
}

.big_bottom {
  border-bottom: 10px solid $darkBlue;
  padding-bottom: 10px;
  display: inline-block;
}

.big_name_sub {
  font-size: 1.4em;
  font-family: 'Montserrat Light', sans-serif;
  color: $darkBlue;
  display: inline-block;
}

.sub_text_container {
  padding-top: 0.8em;
  padding-bottom: 3em;
}

.icon_sub {
  color: $darkBlue;
  padding-left: 0.5em;
}

.box1, .box2, .box3 {
  height: 100px;
  padding: 10px;
  transition: 0.5s;
}

.box1 {
  background-color: $purple;
}

.box2 {
  background-color: $teal;
}

.box3 {
  background-color: $lightGreen;
}

.box_text {
  color: $darkBlue;
  font-size: 1.2em;
  margin-left: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat Light', sans-serif;
  display: inline-block;
  cursor: pointer;
}

.down_icon {
  font-size: 1.5em;
  padding-left: 0.3rem;
  padding-bottom: 0.1rem;
}

.hidden_content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  transition: 2s;
}

.contact_link {
  text-decoration: none;
  color: $darkBlue;
  font-size: 1.1em;
  padding: 0.5em;
  font-family: 'Montserrat Light', sans-serif;
  transition: all 0.4s ease-in-out;
}

.contact_link:hover {
  color: $dark-grey;
}

.contact_icon {
  margin-right: 0.5em;
}
